.root {
  position: relative;
  overflow: hidden;
  border-radius: 9999px;
}

.fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  transition: width 700ms ease;
}

.stripes {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  /* left will be set inline to percent% */
  background-image: linear-gradient(45deg,
    rgba(0,0,0,0.06) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0,0,0,0.06) 50%,
    rgba(0,0,0,0.06) 75%,
    transparent 75%,
    transparent);
  background-size: 16px 16px;
  animation: move 1s linear infinite;
}

@keyframes move {
  from { background-position: 0 0; }
  to { background-position: 16px 0; }
}
